* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(315deg, #378b29 0%, #40db52 74%);
}

.root {
  width: 100w;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
  justify-content: center;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline;
  float: right;
  text-align: center;
  i {
    margin: 3px 3px 3px 3px;
  }
}

.menu-item:hover {
  i,
  a {
    color: #378b29;
  }
  background-color: beige;
}

.menu-item a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.presentation div:first-child {
  justify-content: center;
  align-items: center;
  margin: 4em 0em 4em 4em;
}
.presentation {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 4em;
}

.presentation h1 {
  font-size: 4em;
}

.presentation p {
  margin: 0em 6em 0em 0em;
  font-size: 1.5em;
}

#photo-profil {
  width: auto;
  height: auto;
}
